footer {
    background: #353535;
    color: white;
    padding: 20px;
    & ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & li {
            margin: 10px 0px;
            cursor: pointer;
            & a {
                color: white;
            }
        }
        & li:hover {
            text-decoration: underline;
            transition: 0.4s;
        }
    }
}