header {
    font-family:  'Shrikhand', Arial, Helvetica, sans-serif;
    text-align: center;
    & .header--menu {
        position: relative;
        text-align: center;
    }
    & a {
        position: absolute;
        left: 5%;
        top: 30%;
    }
}
