@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-9999px);
  }
}
@keyframes opacify {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50px);
  }
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.fa, .fas {
  font: 900;
}

img {
  object-fit: cover;
  max-height: 170px;
  width: 100%;
}

.logo {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 2em;
}

@font-face {
  font-family: Roboto;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
@font-face {
  font-family: Shrikhand;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
}
header {
  text-align: center;
}
header .header--menu {
  position: relative;
  text-align: center;
}
header a {
  position: absolute;
  left: 5%;
  top: 30%;
  color: #353535;
}

.location {
  display: flex;
  justify-content: center;
  padding: 5px 35px;
  background: #eaeaea;
  padding: 15px;
}
.location .locaton__map-marker {
  margin: 0 15px;
}
.location input {
  border: none;
  outline: 0;
  background: #eaeaea;
}
.location input :focus {
  border: none;
  outline: 0;
}

.presentation {
  background: #f6f6f6;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 30px;
}
.presentation__item {
  text-align: center;
}
.presentation__item--button {
  box-shadow: 0 0 15px #0000002e;
  border-radius: 25px;
  width: fit-content;
  height: 50px;
  background: linear-gradient(180deg, #ff7ad9 0%, #b261db 100%);
  color: white;
  display: grid;
  align-items: center;
  padding: 15px;
}
.presentation__item--button:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #00000073;
  filter: brightness(1.1);
  transition: 0.4s;
}

nav {
  display: grid;
  grid-template-rows: 1fr 4fr;
  padding: 15px;
}
nav .search-bar {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  counter-reset: choice;
  position: relative;
}
nav .search-bar__option {
  margin: 15px 0;
  border-radius: 15px;
  height: 50px;
  background: #eaeaea;
  padding: 15px;
  counter-increment: choice;
  width: fit-content;
}
nav .search-bar__option:hover {
  filter: brightness(1);
  box-shadow: 0 0 15px #00000073;
  transition: 0.4s;
}
nav .search-bar__option i {
  margin: 0px 10px;
}
nav .search-bar__option::before {
  content: counter(choice);
  border-radius: 50%;
  background: #9356DC;
  font-size: 0.625rem;
  padding: 4px 6px;
  color: white;
  position: absolute;
  left: -8px;
}
nav .search-bar__option:hover {
  cursor: pointer;
}

main {
  background-color: #eaeaea;
  padding: 20px 10px;
}
main .restaurants {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
main .restaurants .restaurant--new::after {
  position: absolute;
  content: "Nouveau";
  background: #99E2D0;
  color: #008766;
  padding: 5px;
  top: 5%;
  right: 2%;
}
main .restaurants .restaurant {
  position: relative;
  margin: 15px 0px;
  border-radius: 25px;
  box-shadow: 0 0 15px #0000002e;
  background: white;
}
main .restaurants .restaurant img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}
main .restaurants .restaurant__description {
  display: flex;
}
main .restaurants .restaurant__description a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  color: black;
}

footer {
  background: #353535;
  color: white;
  padding: 20px;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer ul li {
  margin: 10px 0px;
  cursor: pointer;
}
footer ul li a {
  color: white;
}
footer ul li:hover {
  text-decoration: underline;
  transition: 0.4s;
}

.background-img img {
  max-height: 300px;
}

.menu {
  border-radius: 45px 45px 0 0;
  position: relative;
  margin-top: -40px;
  z-index: 1;
}
.menu .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.menu h2 {
  position: relative;
  padding-bottom: 3px;
  width: fit-content;
}
.menu h2::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  color: #99E2D0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: #99E2D0;
}

.item {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 15px;
  background: white;
  margin: 15px 0;
  transform: scale(0);
  animation: appartion 1s cubic-bezier(0, 0, 0.17, 1) both;
}
.item__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}
.item__description h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item__price {
  display: flex;
  align-items: flex-end;
}
.item__check {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: -50px;
  top: 0;
  padding: 0 15px;
  height: 100%;
  color: white;
}
.item:hover .check {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-left 0.5s ease-in-out forwards;
  transform-origin: right;
}
.item:hover .fa-check-circle {
  animation: rotate-center 0.5s ease-in-out both;
}
.item:hover {
  cursor: pointer;
}
.item:hover .price {
  padding-right: 50px;
  transition: 0.5s;
}

.button {
  background: linear-gradient(180deg, #ff7ad9 0%, #b261db 100%);
  padding: 15px 40px;
  box-shadow: 0 0 15px #0000002e;
  border-radius: 25px;
  color: white;
  width: fit-content;
  position: relative;
  left: calc(50% - 90px);
  margin-top: 40px;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 0 15px #00000073;
  filter: brightness(1.1);
  transition: 0.4s;
}

@keyframes appartion {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.reception {
  animation: opacify 3s cubic-bezier(0.94, 0.17, 0.96, 0.51) forwards;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  animation: loading 3s forwards;
}

.loader::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-color: #9356DC transparent #99E2D0 transparent;
  animation: loader 1.8s linear infinite;
}

.heart {
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
}
.heart .fa-heart {
  font-size: 2rem;
}
.heart .fas {
  color: transparent;
}
.heart .fas:hover {
  font-size: 2.2rem;
  background: linear-gradient(180deg, #ff7ad9 0%, #b261db 100%);
  color: transparent;
  transition: 1s;
  -webkit-background-clip: text;
}
.heart .far {
  color: #1f1f1f;
}

/*# sourceMappingURL=style.css.map */
