* ,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.fa , .fas {
    font: 900;
} 
img {
    object-fit: cover;
    max-height: 170px;
    width: 100%;
}
h1 {
    font-family: 'Shrikhand',Arial, Helvetica, sans-serif;
}