.heart {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 15px;
    top:10px;
    cursor: pointer;
    &:hover .far {
        color: transparent;
    }
    & .fa-heart {
        font-size: 2rem;
    }
    & .fas {
        color: transparent;
        &:hover{
            font-size: 2rem;
            @include gradient;
            color: transparent;
            transition: 1s;
            -webkit-background-clip: text;
            background-clip:text;
        }
    }
    & .far {
        color: #1f1f1f; 
    }
}