.heart {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    & .fa-heart {
        font-size: 2rem;
        margin-right: 50px;
    }
    & .fas {
        color: transparent;
        margin-right: 50px;
        &:hover{
            font-size: 2.2rem;
            @include gradient;
            color: transparent;
            transition: 1s;
            -webkit-background-clip: text;
            background-clip:text;
        }
    }
    & .far {
        color: #1f1f1f; 
    }
}