.location {
    display: flex;
    justify-content: center;
    padding: 5px 35px;
    background: #eaeaea;
    padding: 15px;
    & .locaton__map-marker {
        margin: 0 15px;
    }
    & input {
        border:none;
        outline:0;
        background: #eaeaea;
        font-family:'Roboto', Arial, Helvetica, sans-serif;
        & :focus {
            border: none;
            outline:0;
        }
    }
}