.reception {
    animation: opacify 3s cubic-bezier(.94,.17,.96,.51) forwards;
}
.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    animation: loading 3s forwards;
    
  }
  .loader::after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-color: $color-primary transparent $color-tertiary transparent;
    animation: loader 1.8s linear infinite ;
  }
  