.background-img {
    & img {
        max-height: 300px;
        position: relative;
        top:40px;
    }
}
.menu {
    border-radius: 45px 45px 0 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    & .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & .starter {
        margin-top: 40px;
    }
}
.item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    background: white;
    margin: 15px 0;
    &__price {
        display: flex;
        align-items: flex-end;
    }
    &:hover{
        cursor: pointer;
    }
}
.button {
    @include gradient;
    padding: 15px 40px;
    @include shadow ;
    @include radius ;
    color: white;
    width: fit-content;
    position: relative;
    left: calc(50% - 90px);
    margin-top: 40px;
    cursor: pointer;
}