.background-img {
    & img {
        max-height: 300px;
        position: relative;
        top:40px;
    }
}
.menu {
    border-radius: 45px 45px 0 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    & .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & .starter {
        margin-top: 40px;
    }
}
.item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    background: white;
    margin: 15px 0;
    &__description  {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;  
    }
    &__price {
        display: flex;
        align-items: flex-end;
    }
    &__check {
        display: none;
        position: absolute;
        background: $color-tertiary;
        border-radius: 0 15px 15px 0;
        right: -50px;
        top: 0;
        padding: 0 15px;
        height: 100%;
        color: white;
    }
    &:hover .check{
        display: flex;
        justify-content: center;
        align-items: center;
        animation: slide-left 0.5s ease-in-out forwards;
        transform-origin: right;
    }
    &:hover .fa-check-circle {
        animation: rotate-center 0.5s ease-in-out both;

    }
    &:hover{
        cursor: pointer;
    }
    &:hover .price {
        padding-right: 50px;
        transition: 0.5s;
    }
}
.button {
    @include gradient;
    padding: 15px 40px;
    @include shadow ;
    @include radius ;
    color: white;
    width: fit-content;
    position: relative;
    left: calc(50% - 90px);
    margin-top: 40px;
    cursor: pointer;
    &:hover {
        @include button-hover;
    }
}
