nav {
    display: grid;
    grid-template-rows: 1fr 4fr;
    padding: 15px;
    & .search-bar {
        display: flex;
        flex-direction: column;
        counter-reset: choice;
        position: relative;
        @media (min-width: 1300px) {
            flex-direction: row;
            justify-content: space-between;
          }
        &__option {
            margin: 15px 0;
            border-radius: 15px;
            height: 50px;
            background: #eaeaea;
            padding: 15px;
            counter-increment: choice;
            position: relative;
            @media (min-width: 1300px){
                width: 30%;
            }
            &:hover {
                filter: brightness(1);
                box-shadow: 0 0 15px #00000073;
                transition: 0.4s;   
            }
            & i {
                margin: 0px 10px;
            }
        }
        &__option::before {
            content: counter(choice);
            border-radius: 50%;
            background: $color-primary;
            font-size: 0.625rem;
            padding: 4px 6px;
            color: white;
            position: absolute;
            left: -8px;
        }
        &__option:hover {
            cursor: pointer;
        }
    }
}