@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loading {
      0% {
          transform: translateY(0);
      }
      99% {
          transform: translateY(0);
      }
      100% {
        transform: translateY(-9999px);
      }
  }
  @keyframes opacify {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slide-left {
  0% {
            transform: translateX(0);
  }
  100% {
            transform: translateX(-50px);
  }
}
@keyframes rotate-center {
  0% {
            transform: rotate(0);
  }
  100% {
            transform: rotate(360deg);
  }
}
@keyframes appartion {
  0% {
      transform:  scale(0);
      opacity: 0; 
  }
  100% {
      transform:  scale(1);
      opacity: 1;
  }
}